body{
	margin: 0;
	padding: 0;
}
#wrapper{
	width: 100%;
	margin: auto;
	background: #FFF;
}
/*header*/
.layout-main{
	width:100%;
	height:149px;
	background-color:#FFF;
	border-bottom: 1px solid #CCC;
}
.bia-1{
	width:70%;
	height:149px;
	background-color: #FFF;
	float:left;

}
.bia-2{
	width:30%;
	height:149px;
	background-color: #FFF;
	float :left;
	display: block;
}
.logo{
	padding-left: 550px;
	padding-top: 30px;
}
.logo-2{
	padding-left: 200px;
	padding-top: 60px;
}

/*MENU*/
#menu ul{
	list-style-type: none;
	background: #F5CFD1;
	text-align: center;
	margin: 0;

}
#menu ul li{
	color: #000;
	display: inline-table;
	width: 180px;
	height: 40px;
	line-height: 40px;
	position: relative;
}
#menu ul li a{
	color: #000;
	text-decoration: none;
	display: block;
}
#menu ul li a:hover{
	background: #f1f1f1;
	color: #333;
	transition: 2s;
}
#menu ul li >.sub-menu{
	display: none;
}
#menu ul li:hover .sub-menu{
	display: block;
	position: absolute;
	transition: 1s;
	padding: 0px;
}
.hang:hover{
	transition: 0.5s;
	padding-top: 4px;
}

/* body_main the new */
.body_main{
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
}
.body_main p{
	font-family: "Avenir Next", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
	font-size: 30px;
    width: 100%;
}
.body_main a{
	text-decoration: none;
	color: #000;
}

.body_main a:hover{
	color: #666;
}
.new{
    width: 90%;
    height: 200px;
    /* border: 1px #f00 solid; */
    display: flex;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 40px;
}

.none{
    width: 90%;
    height: 200px;
    /* border: 1px #f00 solid; */
    display: none;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 40px;
	/* display: none; */
}

.img_new{
    width: 34.4%;
    height: 200px;
    /* border: 1px #f00 solid; */
}
.img_new img{
	height: 200px;
}
.info_new{
    width: 66.6%;
    height: 170px;
    /* border: 1px #f00 solid; */
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.info_new span{
	font-family: "Avenir Next", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
	font-size: 31px;
	width: 100%;

}
.info_new p{
	font-family: "Avenir Next", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
	font-size: 16px;
}

.button_continue{
	width: 100%;
}
button{
	width: 150px;
	height: 44px;
	font-size: 16px;
	background: #FFF;
	border: 1px #000 solid;
	display: block;
	margin: 0 auto;
}
button:hover{
	border: 1px #ECA5A9 solid;
	color: #ECA5A9;
}
/* footer */
.footer{
	width: 100%;
	background-color: #F5CFD1;
}
.layout-3{
	width:100%;
	height: 200px;
	background-color: #F5CFD1;
	margin-top: 60px;
}
.layout-3-1{
	height: 200px;
	width:30%;
	
	float: left;
}
.layout-3-2{
	height: 200px;
	width:40%;
	float: left;
	background-color: #F5CFD1;
}
.layout-3-3{
	height: 200px;
	width:30%;
	float: left;
}
h1.h1-cuoi{

	margin-top: 10px;
	margin-left: 20px;
    font-family: "Avenir Next", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word
}
h5.h5-cuoi{
	margin-left: 20px;
}
.h5-cuoi a{
	text-decoration: none;
	color: black;
}
.h5-cuoi a:hover{
	text-decoration: underline;
}
/*SEACH*/
.tim-kiem{
	height: 40px;
	width: 433px;
	float: left;
	font-family: "Avenir Next", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}
h3.h3-cuoi{
	margin-top: 10px;
	float: right;
	color: black;
	margin-right: 5px;
    font-family: "Avenir Next", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    white-space: normal;
    font-size: 14px
}

/* last footer */
.last_footer{
	width: 80%;
	height: 60px;
	margin: 0 auto;
	background-color: #F5CFD1;
}

.last_footer>ul{
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;

}

.last_footer>ul>img{
	margin-left: 10px;
	margin-right: 10px;
}
.fb_insta{
	float: right;
}








