@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-content {
        position: absolute;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 150%;
        pointer-events: auto;
        left: -133px;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0;
    }
    /*body {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    font-family: 'Roboto', sans-serif;
                                }*/
    .contain-5 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .history-page {
        background-color: lightgoldenrodyellow;
        width: 100%;
        height: 100%;
        padding: 64px;
        border-radius: 8px;
        margin-bottom: 85px;
    }

    .history-page__title {
        font-size: large;
    }

    hr {
        color: #b4b3b3;
    }

    .search {
        margin: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 75%;
        border: 1px solid #000;
        border-radius: 20px;
        padding: 1px;
        margin-bottom: 10px;
    }

    .search__icon-background {
        display: flex;
        justify-content: center;
        border: none;
        margin: 0 5px;
        cursor: pointer;
    }

    .search__icon {
        color: #000;
        font-size: 25px;
    }

    .search__input-box {
        font-size: 100%;
        border: none;
        width: 90%;
        background: border-box;
    }

    input[type='search']::-webkit-search-decoration,
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-results-button,
    input[type='search']::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }

    .search__input-box:focus {
        outline: none;
    }
    .ml-left{
        margin-left:24px;
    }
    .purchase {
        width:100%;
        display: flex;
        margin-top:24px;
    }

    .purchase__icon-background {
        align-self: center;
        margin: 10px;
        border-radius: 35px;
        display: flex;
        background-color: #c0df85;
    }

    .purchase__icon {
        padding: 10px;
        font-size: 50px;
        color: #fff;
    }

    .purchase__info {
        margin: auto 0;
    }

    .purchase__title{
        font-size: 16px;
        font-weight: 600;
    }
    .purchase__title,
    .purchase__date {
        margin: 0;
    }

    .purchase__date {
        padding: 3px 0 10px 0;
        font-size: 14px;
        color: #808080;
    }

    .purchase__price {
        align-self: center;
        margin-left: auto;
    }

    .purchase__details-btn {
        padding: 3px 10px;
        transition: ease-in-out 0.2s;
        background-color: #c0df85;
        color: #fff;
        cursor: pointer;
        border: solid 1px #c0df85;
        border-radius: 10px;
    }

        .purchase__details-btn:hover {
            background-color: #c0df85;
            color: #fff;
            cursor: pointer;
            border: solid 1px #c0df85;
            border-radius: 10px;
        }

    #change-by-phone-detail{
        flex-direction: column;
    }
    @@media (min-width: 750px) {
        .history-page {
            width: 750px;
        }
    }

</style>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
<div class="contain-5">
    <div class="history-page">
        <h1 class="history-page__title">Xem lịch sử mua hàng</h1>
        <hr />
        <div class="search">
            <div class="search__icon-background" onclick="GetOrders()">
                <span class="iconify search__icon"
                      data-inline="false"
                      data-icon="ant-design:search-outlined"></span>
            </div>
            <input class="search__input-box" id="id-search" type="search" placeholder="Nhập mã đơn" />
        </div>
        <div class="history-page__purchases">
            <div id="change-by-phone" class="purchase">
                
            </div>
            <div id="change-by-phone-detail" class="purchase">
            </div>
        </div>
    </div>
</div>
<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
<script>
    function addCommas(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    function GetOrders() {
        var str="";
        var str2 = "";
        var inputElement = document.getElementById("id-search");
        var id = inputElement.value;
        $.ajax({
            url: "@ViewBag.MyUrl" + `/api/Order/get-by-phone?idOrder=${id}&phone=0`,
            dataType: "json",
            type: "GET",
            success: function (response) {
                var obj = response.resultObj.orderDetailDto
                str +=
                `<div class="purchase">
                    <div class="purchase__info">
                            <p class="purchase__title">Tên khách: ${obj.nameCustomer}</p>
                            <p class="purchase__date">Email: ${obj.email}</p>
                            <p class="purchase__date">Địa chỉ: ${obj.address}</p>
                            <p class="purchase__date">SĐT: 0${obj.phone}</p>
                            <p class="purchase__date">Tạo ngày ${chuyenDoiNgayThang(obj.createdAt)}</p>
                            <p class="purchase__date">Trạng thái: Đang giao</p>
                            <p class="purchase__date">Tổng: ${addCommas(obj.sumPrice)}đ</p>
                </div>`
                $("#change-by-phone").html(str);
                response.resultObj.getOrderDto.forEach(function (item) {
                    str2 += `<div class="purchase">
                                    <img style="width: 60px;" src="https://localhost:7179/user_content/${item.img}"/>
                                        <div class="purchase__info" style="margin-left: 32px;">
                                    <p class="purchase__title">${item.nameProduct}</p>
                                    <p class="purchase__date">Số lượng${item.quantity}</p>
                                                </div><p class="purchase__price">Giá ${addCommas(item.price)}đ</p>
                    </div>`
                });
                $("#change-by-phone-detail").html(str2);
            }
        })
        
    }
    function chuyenDoiNgayThang(dateTimeString) {
        // Tạo một đối tượng Date từ chuỗi đầu vào
        var dateTime = new Date(dateTimeString);

        // Lấy ngày, tháng và năm từ đối tượng Date
        var ngay = dateTime.getDate();
        var thang = dateTime.getMonth() + 1; // Lưu ý: Tháng bắt đầu từ 0
        var nam = dateTime.getFullYear();

        // Định dạng lại chuỗi ngày tháng
        var ngayThangNam = ngay + '/' + thang + '/' + nam;

        // Trả về chuỗi ngày tháng đã định dạng
        return ngayThangNam;
    }
</script>