@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}
@section jsFooter{
    <script>
        $('#partialNews').load("/Home/News")
        $('#partialProductsHot').load("/Home/ProductsHot")
        $('#partialProductsHot2').load("/Home/ProductsHot2")

    </script>
}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Vật Liệu Xây Dựng">
    <meta name="keywords" content="Vật Liệu Xây Dựng, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link href="~/Content/css/HomeCss/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/HomeCss/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/HomeCss/elegant-icons.css" rel="stylesheet" />
    <link href="~/Content/css/HomeCss/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/HomeCss/nice-select.css" rel="stylesheet" />
    <link href="~/Content/css/HomeCss/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/HomeCss/slicknav.min.css" rel="stylesheet" />
    <link href="~/Content/css/HomeCss/style.css" rel="stylesheet" />

</head>
@*<div style="background-image:url('~/Content/img/hero/hero-1.jpg');"></div>*@
<body>
    <div id="partialProductsHot">
    </div>
    <div id="partialProductsHot2">
    </div>
    <div id="partialNews">
    </div>


    <!-- Latest Blog Section End -->

    <script src="~/Content/js/jsHome/bootstrap.min.js"></script>
    <script src="~/Content/js/jsHome/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/jsHome/jquery.countdown.min.js"></script>
    <script src="~/Content/js/jsHome/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jsHome/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/jsHome/jquery.nicescroll.min.js"></script>
    <script src="~/Content/js/jsHome/jquery.slicknav.js"></script>
    <script src="~/Content/js/jsHome/main.js"></script>
    <script src="~/Content/js/jsHome/owl.carousel.min.js"></script>
    <script src="~/Content/js/jsHome/mixitup.min.js"></script>
</body>