@model List<Domain.Models.Dto.Product.GetProductDto>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li style="color: #111111">Hot Sales</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            @foreach (var item in Model)
            {
                var i = 0;

                if (i < 4)
                {
                    i++;
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item sale">
                            <div class="product__item__pic set-bg" style="background-image: url(https://localhost:7179/user_content/@Html.DisplayFor(moldelItem => item.ProductImgs[0].ImagePath))">
                                <span class="label">Sale</span>
                            </div>
                            <div class="product__item__text">
                                <h6>@Html.DisplayFor(moldelItem => item.Name)</h6>
                                <a class="add-cart" href="@Url.Action("Details", "Events", new { id = item.IdProduct })">Go Detail </a>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>@Html.DisplayFor(moldelItem => item.Price)</h5>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

