@model List<Domain.Models.Dto.Product.GetProductDto>
@{
    bool isLocalhost = Context.Request.Host.Host.Equals("localhost", StringComparison.OrdinalIgnoreCase)
                      || Context.Request.Host.Host.Equals("127.0.0.1", StringComparison.OrdinalIgnoreCase);
    var url = "";
    string str = ViewBag.url;
    if (isLocalhost)
    {
        url = "https://localhost:7179";
    }
    else
    {
        url = str;
    }
}
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li style="color: #111111;margin-top: 50px;">Danh sách sản phẩm</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            @foreach (var item in Model)
            {
                var i = 0;

                if (i < 4)
                {
                    i++;
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item sale">
                            <div class="product__item__pic set-bg" style="background-image: url(@url/user_content/@Html.DisplayFor(moldelItem => item.ProductImgs[0].ImagePath))">
                                <span class="label">ĐANG GIẢM</span>
                            </div>
                            <div class="product__item__text">
                                <h6>@Html.DisplayFor(moldelItem => item.Name)</h6>
                                <a class="add-cart" href="@Url.Action("Details", "Events", new { id = item.IdProduct })">Xem chi tiết </a>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>@item.Price.ToString("#,##0") đ</h5>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

